body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}

/* Pre-Navigation Bar */

.top-container--1 {
  width: 100vw;
  background-color: #050505;
}

.pre-navigation a {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: #FFFFFF;
  text-decoration: none;
}

.pre-navigation a:hover {
  color: #FFFFFF;
}

.nav-link--1 {
  margin-right: 2px;
}

/* Main Navigation Bar */

.top-container--2 {
  width: 100vw;
  position: relative;
  /* background-color: #382933; */
  background-color: #0F3460;
}

/* First Shape Divider */

.custom-shape-divider-bottom-1598977662 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1598977662 svg {
    position: relative;
    display: block;
    width: calc(134% + 1.3px);
    height: 55px;
}

.custom-shape-divider-bottom-1598977662 .shape-fill--1 {
    fill: #EEEEEE;
}

.navbar {
  padding: 1.75% 5% 3.5% 5%;
  background-color: #0F3460;
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
  .navbar {
    padding: 2.8% 5% 11% 5%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {  /* Targeting medium-screen devices */
  .navbar {
    padding: 2% 5% 5% 5%;
  }
}

.navbar-brand {
  width: 75px;
  margin-left: 3px;
  /* background-color: grey; */
}

.navbar-brand img {
  max-width: 100%;
  height: auto;
  width: 75px;
}

.hamburger-icon {
  font-size: 1.8rem;
  color: #000000;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {  /* Targeting medium-screen devices */
  .hamburger-icon {
    transform: translateX(5px);
  }
}

@media only screen and (max-width: 992px) {  /* Targeting small- & medium-screen devices */
  .navbar-nav {
    margin-top: 12px;
  }

  .navbar-nav {
    padding-left: 10px;
  }
}

.nav-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  color: #FFFFFF;
}

.nav-link:hover {
  color: #FFFF00;
}

/* Section 1 */

.middle-container--1 {
  width: 100vw;
  position: relative;
  background-color: #EEEEEE;
}

/* Second Shape Divider */

.custom-shape-divider-bottom-1598977662 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1598977662 svg {
    position: relative;
    display: block;
    width: calc(134% + 1.3px);
    height: 55px;
}

.custom-shape-divider-bottom-1598977662 .shape-fill--2 {
    fill: #EEEEEE;
}

.sect_a-text-container--1 {
  width: 90%;
  margin: auto;
  padding-top: 120px;
  text-align: center;
  /* background-color: #FF0000; */
}

.sect_a-text--1 {  /* Targeting small-screen devices & others */
  font-family: 'IBM Plex Serif';
  font-weight: 700;
  font-size: 2.8rem;  /* Small-screen */
  color: #000000;
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
  .sect_a-text--1 {
    transform: translateX(-3px);
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {  /* Targeting medium-screen devices */
  .sect_a-text--1 {
    transform: translateX(-3px);
  }
}

@media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
  .sect_a-text--1 {
    font-size: 4rem;
  }
}

.sect_a-highight {
  text-decoration: underline solid #0000FF;
}

.sect_a-text--2 {
  font-family: 'IBM Plex Serif';
  font-size: 1.5rem;
  color: #000000;
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
  .sect_a-text--2 {
    transform: translateX(-3px);
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {  /* Targeting medium-screen devices */
  .sect_a-text--2 {
    transform: translateX(-3px);
  }
}

.sect_a-button-container {
  width: 90%;
  margin: auto;
  padding: 15px 0;
  text-align: center;
  padding-bottom: 40px;
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
  .sect_a-button-container {
    transform: translateX(-3px);
  }
}

.sect_a-button-container a {  /* Enlarges buttons */
  transform: scale(1.08);
}

.sect_a-button-container a:nth-child(2) {  /* Creates space between buttons */
  margin-left: 6px;
}

.sect_a-button-colour--1 {
  color: #FFFFFF;
  background-color: #000000;
}

.sect_a-button-colour--1:hover {
  color: #FFFFFF;
  background-color: #000000;
}

.sect_a-button-colour--2 {
  color: #000000;
  border: 1px solid #000000;
}

.sect_a-button-colour--2:hover {
  color: #FFFFFF;
  background-color: #07689f;
}

/* Section 2 */

.middle-container--2 {
  width: 100vw;
  position: relative;
  background-color: #EEEEEE;
}

/* Third Shape Divider */

.custom-shape-divider-bottom-1598977662 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1598977662 svg {
    position: relative;
    display: block;
    width: calc(134% + 1.3px);
    height: 55px;
}

.custom-shape-divider-bottom-1598977662 .shape-fill--3 {
    fill: #EEEEEE;
}

.sect_b-text-container--2 {
  width: 90%;
  margin: auto;
  padding: 30px 0 50px 0;
  text-align: center;
  /* background-color: #FF0000; */
}

.sect_b-text--1 {  /* Targeting small-screen devices & others */
  font-family: 'IBM Plex Serif';
  font-weight: 400;
  font-size: 1.8rem;  /* Small-screen */
  color: #000000;
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
  .sect_b-text--1 {
    transform: translateX(-5px);
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) { /* Targeting medium-screen devices */
  .sect_b-text--1 {
    transform: translateX(-3px);
  }
}

@media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
  .sect_b-text--1 {
    font-size: 2.3rem;
  }
}

/* Section 3 */

.middle-container--3 {
  width: 100vw;
  position: relative;
  background-color: #EEEEEE;
}

/* Fourth Shape Divider */

.home-page-sect_c-custom-shape-divider-bottom-1598977662 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: -3;
}

.home-page-sect_c-custom-shape-divider-bottom-1598977662 svg {
    position: relative;
    display: block;
    width: calc(134% + 1.3px);
    height: 55px;
}

.home-page-sect_c-custom-shape-divider-bottom-1598977662 .shape-fill--4 {
    fill: #EEEEEE;
}

.sect_c-skills-container {
  width: 90%;
  margin: auto;
  text-align: center;
  padding-bottom: 40px;
  /* background-color: grey; */
}

.sect_c-card--1 {
  border: none;
  background-color: #EEEEEE;
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
  .sect_c-card--1 {
    margin-bottom: 5px;
    transform: translateX(-3px);
  }
}

.sect_c-icon-container {
  font-size: 2.6rem;
  color: #0000FF;
  display: inline-block;
  /* background-color: grey; */
}

.sect_c-text--1 {  /* Targeting small-screen devices & others */
  font-family: 'IBM Plex Serif';
  font-weight: 400;
  font-size: 1.95rem;  /* Small-screen */
  color: #000000;
}

@media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
  .sect_c-text--1 {
    font-size: 2.3rem;
  }
}

.sect_c-card--2 {
  border: none;
  background-color: #EEEEEE;
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
  .sect_c-card--2 {
    transform: translateX(-3px);
  }
}

.sect_c-text--2 {  /* Targeting small-screen devices & others */
  font-family: 'IBM Plex Serif';
  font-weight: 400;
  font-size: 1.95rem;  /* Small-screen */
  color: #000000;
}

@media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
  .sect_c-text--2 {
    font-size: 2.3rem;
  }
}

.sect_c-card--3 {
  border: none;
  background-color: #EEEEEE;
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
  .sect_c-card--3 {
    transform: translateX(-3px);
  }
}

.sect_c-text--3 {  /* Targeting small-screen devices & others */
  font-family: 'IBM Plex Serif';
  font-weight: 400;
  font-size: 1.95rem;  /* Small-screen */
  color: #000000;
}

@media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
  .sect_c-text--3 {
    font-size: 2.3rem;
  }
}

/* Section 4 */

.middle-container--4 {  /* Targeting small-screen devices & others */
  width: 100vw;
  height: 60vh;
  background-image: url("../Images/img-1a.jpg");  /* Small-screen*/
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #1B6CA8;  /* This colour will be used if browser cannot render background image */
}

@media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
  .middle-container--4 {
    background-image: url("../images/img-1b.jpg");
  }
}

/* Section 5 */

.middle-container--5 {
  width: 100vw;
  position: relative;
  background-color: #EEEEEE;
}

/* Shape Divider */

.custom-shape-divider-bottom-1598977662 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1598977662 svg {
    position: relative;
    display: block;
    width: calc(134% + 1.3px);
    height: 55px;
}

.custom-shape-divider-bottom-1598977662 .shape-fill--5 {
    fill: #EEEEEE;
}

.sect_d-text-container {
  width: 90%;
  margin: auto;
  padding-top: 20px;
  text-align: center;
  /* background-color: #FF0000; */
}

.sect_d-text {  /* Targeting small-screen devices & others */
  font-family: 'IBM Plex Serif';
  font-weight: 400;
  font-size: 1.8rem;  /* Small-screen */
  color: #000000;
}

@media only screen and (min-width: 768px) {
  .sect_d-text {
    font-size: 2.3rem;
  }
}

.sect_d-brand-container {
  width: 90%;
  margin: auto;
  padding: 65px 0 60px 0;
  /* background-color: grey; */
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
  .sect_d-brand-container {
    padding-bottom: 30px;
  }
}

.sect_d-card--1 {
  border: none;
  background-color: #EEEEEE;
}

.sect_d-img-container--1 {
  width: 260px;
}

.sect_d-img-container--1 img {
  max-width: 100%;
  height: auto;
  width: 260px;
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
  .sect_d-img-container--1 {
    transform: scale(0.7) translateX(-20%);
  }
}

.sect_d-card--2 {
  border: none;
  background-color: #EEEEEE;
}

.sect_d-img-container--2 {
  width: 130px;
  border-radius: 10px;
}

.sect_d-img-container--2 img {
  max-width: 100%;
  height: auto;
  width: 130px;
  border-radius: 10px
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
  .sect_d-img-container--2 {
    transform: scale(0.9) translateX(20%);
  }
}

.sect_d-card--3 {
  border: none;
  background-color: #EEEEEE;
}

.sect_d-img-container--3 {
  width: 300px;
}

.sect_d-img-container--3 img {
  max-width: 100%;
  height: auto;
  width: 300px;
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
  .sect_d-img-container--3 {
    transform: scale(0.65) translate(-28%, -20%);
  }
}

/* Section 6 */

.middle-container--6 {
  width: 100vw;
  position: relative;
  background-color: #EEEEEE;
}

/* Shape Divider */

.custom-shape-divider-bottom-1598977662 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1598977662 svg {
    position: relative;
    display: block;
    width: calc(134% + 1.3px);
    height: 55px;
}

.custom-shape-divider-bottom-1598977662 .shape-fill--6 {
    fill: #FF0000;
}

.sect_e-text-container--1 {
  width: 90%;
  margin: auto;
  padding: 40px 0 20px 0;
  text-align: center;
  /* background-color: #FF0000; */
}

.sect_e-text--1 {  /* Targeting small-screen devices & others */
  font-family: 'IBM Plex Serif';
  font-weight: 400;
  font-size: 1.8rem;  /* Small-screen */
  color: #000000;
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
  .sect_e-text--1 {
    transform: translateX(-3px);
  }
}

@media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
  .sect_e-text--1 {
    font-size: 2.3rem;
  }
}

.sect_e-steps-container {
  width: 90%;
  margin: auto;
  padding-bottom: 50px;
  /* background-color: grey; */
}

.sect_e-card--1 {
  border: none;
  background-color: #EEEEEE;
}

.sect_e-number-container {
  width: 70px;
  margin: auto;
  line-height: 70px;
  text-align: center;
  border-radius: 100%;
  border: 1.8px solid #000000;
  font-family: 'IBM Plex Serif';
  font-size: 1.8rem;
  color: #000000;
}

.sect_e-number-container:hover {
  color: #FFFFFF;
  background-image: linear-gradient(120deg, #440047, #050505);
}

.sect_e-text-container--2 {
  width: 90%;
  margin: auto;
  text-align: center;
  /* background-color: #FF0000; */
}

.sect_e-text--2 {  /* Targeting small-screen devices & others */
  font-family: 'IBM Plex Serif';
  font-weight: 400;
  font-size: 1.8rem;  /* Small-screen */
  color: #000000;
  transform: translateY(5px);
}

@media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
  .sect_e-text--2 {
    font-size: 2.1rem;
  }
}

.sect_e-card--2 {
  border: none;
  background-color: #EEEEEE;
}

.sect_e-text-container--3 {
  width: 90%;
  margin: auto;
  text-align: center;
  /* background-color: #FF0000; */
}

.sect_e-text--3 {  /* Targeting small-screen devices & others */
  font-family: 'IBM Plex Serif';
  font-weight: 400;
  font-size: 1.8rem;  /* Small-screen */
  color: #000000;
  transform: translateY(5px);
}

@media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
  .sect_e-text--3 {
    font-size: 2.1rem;
  }
}

.sect_e-card--3 {
  border: none;
  background-color: #EEEEEE;
}

.sect_e-text-container--4 {
  width: 90%;
  margin: auto;
  text-align: center;
  /* background-color: #FF0000; */
}

.sect_e-text--4 {  /* Targeting small-screen devices & others */
  font-family: 'IBM Plex Serif';
  font-weight: 400;
  font-size: 1.8rem;  /* Small-screen */
  color: #000000;
  transform: translateY(5px);
}

@media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
  .sect_e-text--4 {
    font-size: 2.1rem;
  }
}

/* Section 6 */

.middle-container--7 {
  width: 100vw;
  position: relative;
  background-color: #EEEEEE;
}

/* Shape Divider */

.custom-shape-divider-bottom-1598977662 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1598977662 svg {
    position: relative;
    display: block;
    width: calc(134% + 1.3px);
    height: 55px;
}

.custom-shape-divider-bottom-1598977662 .shape-fill--7 {
    fill: #FF0000;
}
